@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);

$titillium: "Titillium Web", sans-serif;
$primary-color: #1a4e8e;
$grey: #ecf0f1;

body {
  font-family: $titillium;
  background: $grey;
}

.user-card {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.user-card__input {
  font-family: $titillium;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  border: 0;
  background-color: darken($grey, 5%);
  padding: .5rem 1rem;
}
